.brandStatement{
    text-align: center;
    box-sizing: border-box;
    border: solid black 1px;
    border-radius: 5px;
    padding: 3px;
}
.searchBar{
    text-align: center;
}
.heroImage{
    box-sizing: border-box;
    width: 100%;
    z-index: 0;
    height: 275px;
    margin-top: 10px;
}
.mappedImage{
    height: 200px;
    width: 200px;
}
.productsLayout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}